$blue: #5c6bc0;
$indigo: #673ab7;
$purple: #6a1b9a;
$pink: #ec407a;
$red: #d32f2f;
$orange: #ff7043;
$yellow: #ffeb3b;
$green: #7cb342;
$teal: #26a69a;
$cyan: #00bcd4;
$black: #212121;
$white: #ffffff;
$gray: #757575;
$gray-dark: #424242;

$primary: #6a1b9a;
$secondary: #b39ddb;
$success: #7cb342;
$info: #512da8;
$warning: #ffb74d;
$danger: #d32f2f;
$light: #f3e5f5;
$dark: #4a148c;
